html {
  box-sizing: border-box;
  font-family: monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /*background-image: linear-gradient(220deg, rgba(235,235,235,1) 0%, rgba(245,245,245,1) 100%);*/
}

li {
  list-style-type: none;
}

.title, .to-do {
  text-shadow: 0.05em 0.05em #DDD;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;

}

.main-header {
  display: flex;
  /*max-height: 80px;*/
  flex: 0 0 60px;
  /*background-image: linear-gradient(260deg, #FFFF00 0%, #FFCC00 100%);*/
}

.main-header > .title {
  margin-left: 20px;
}

.second-wrap {
  display: flex;
  flex: 1 1 auto;
}

.graph-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
  margin: 0 20px;
  min-width: 500px;
}

.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;

}

.hotspot-count-wrap {
  display: flex;
  align-items: center;
  position: relative;
  /*top: 60px; had used to shift into the graph box*/
  font-size: 1.15em;
}

.graph-header > .title {
  margin-left: 20px;
}

.hotspot-count-label {
  margin-right: 30px;
}

.graph {
  /*width: 100%;*/
  height: 600px;
  border: 1px solid lightgray;
  background-color: white;
}

button[name='reset'] {
  font-size: 1.5em;
  background-color: #EEE;
  border: 1px solid lightgray;
}

.button-wrap {
  display: flex;
}

.steps {
  font-size: 1.5em;
  background-color: #EEE;
  flex: 1;
  max-width: 50%;
}

.optimal-message {
  font-size: 2em;
  text-align: center;
  top: -100px;
}

.guide-wrap {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  margin: 0 10px 10px 10px;
}

.guide-wrap li {
  font-size: 1.2em;
  margin: 1.2em 0;
}

.challenge-wrap > .title {
  margin-top: 5px;
}

ul.challenge-details, ul.instruct-details {
  padding-left: 20px;
}

.to-do {
  font-style: italic;
  background-image: linear-gradient(300deg, #D8D8D8, #EEEEEE);
  border: 1px solid darkgray;

  padding: 15px;
  font-weight: normal;
  font-size: 1.4em;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.circle.no-service {
  background: red;
}

.circle.hotspot {
  background: orange;
}

.circle.service {
  background: yellow;
}

.key-wrap {
  display: flex;
  padding: 0 0 0 20px;
  background-image: linear-gradient(300deg, #D8D8D8, #EEEEEE);
  border: 1px solid darkgray;
}

.key li {
  display: flex;
  align-items: center;
}

ul.key {
  margin-bottom: 0;
}

li > span {
  margin-left: 15px;
}


/*.instruct-wrap {
  display: flex;
  flex-direction: column;
}*/
