<div class='key-container'>
  <div class='key-container__title-container'>
    <h2 class='key-container__title title'>Key</h2>
  </div>
  <ul class='key-container__list'>
    <li class='key-container__list-item'><div class='circle circle--no-service'></div><span>No Service</span></li>
    <li class='key-container__list-item'><div class='circle circle--hotspot'></div><span>Hotspot</span></li>
    <li class='key-container__list-item'><div class='circle circle--service'></div><span>Receiving Service</span></li>
  </ul>
</div>
