<div class='main-container__header'>
  <h1 class='main-container__header__title'>Wireless Hotspot Challenge</h1>
  <div class="logo-image">
      <div class="logo-image__node logo-image__hotspot"></div>
      <div class="logo-image__node logo-image__service logo-image__service-1"></div>
      <div class="logo-image__node logo-image__service logo-image__service-2"></div>
      <div class="logo-image__node logo-image__no-service logo-image__no-service-1"></div>
      <div class="logo-image__edge logo-image__edge-1"></div>
      <div class="logo-image__edge logo-image__edge-2"></div>
      <div class="logo-image__edge logo-image__edge-3"></div>
      <div class="logo-image__edge logo-image__edge-4"></div>
  </div>
  <nav class='main-container__nav'></nav>
</div>
