<div class='message-box__options message-box__options--container'>
  <button class='message-box__options next-graph pseudo-btn'>Try Another Graph</button>
  <h2 class='message-box__options--or'>or</h2>
  <button class='message-box__options create-own pseudo-btn'>Create Your Own</button>
</div>
