<div class='message-box__puzzle-size-selection'>
  <button class='graph-area__options graph-area__options--small pseudo-btn'>Small</button>
  <button class='graph-area__options graph-area__options--medium pseudo-btn'>Medium</button>
  <button class='graph-area__options graph-area__options--large pseudo-btn'>Large</button>
  <button class='graph-area__options graph-area__options--x-large pseudo-btn'>Extra-Large</button>
</div>
