<div class="share-icon">
    <div class="share-icon__node share-icon__bottom"></div>
    <div class="share-icon__node share-icon__side"></div>
    <div class="share-icon__node share-icon__top"></div>
    <div class="share-icon__edge share-icon__edge-1"></div>
    <div class="share-icon__edge share-icon__edge-2"></div>
    <!-- <div class="share-icon__edge share-icon__edge-3"></div> -->
    <!-- <div class="share-icon__edge share-icon__edge-4"></div> -->
</div>
