<!doctype html>
<html>
<head>
  <title>Wireless Hotspot Challenge - Vertex Cover Problem - Login Page</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class='main-container'>
    {{> mainHeader}}
    <div class='login-container'>
      <div class='login-container__input-container'>
        <label class='login-container__input-label' for="userEmail">Email: </label>
        <input id="userEmail" type="email" required>
      </div>
      <div class='login-container__input-container'>
        <label class='login-container__input-label' for="userPassword">Password: </label>
        <input id="userPassword" type="password" required>
      </div>
      <button class='login-submit' type='button'>Submit</button>
    </div>
  </div>

  <script type="text/javascript" src="/js/login.js"></script>
  <script>
  window.onload = function() {
    EntryPoint.setUpLoginPage();
  }
  </script>

</body>

</html>
