<!doctype html>
<html>
<head>
  <title>Wireless Hotspot Challenge - Vertex Cover Problem - Puzzle Not Found</title>
  <link href="/node_modules/vis/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class='main-container main-container--not-found'>
    {{> mainHeader}}
    <div class='middle-container--not-found'>
      <h1>The code puzzle code {{code}} is not valid!</h1>
      <div class='graph-area__options-wrap--not-found'>
        <a href='#'><h2 class='graph-area__options next-graph'>Try Another Graph</h2></a>
        <p>or</p>
        <a href='#'><h2 class='graph-area__options create-own'>Create Your Own</h2></a>
      </div>
    </div>
  </div>
</body>
