<!doctype html>
<html>
<head>
  <title>Wireless Hotspot Challenge - Vertex Cover Proble - Admin View</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class='main-container--admin-view'>
    {{> mainHeader}}
    <!-- <div class='middle-container'> -->
      <div class='status-select'>
        <h2 class='status-select status-select__instruct'>Select the puzzles you want to view:</h2>
        <div class='status-select status-select__radio-container'>
          <input type='radio' class='status-select__radio' id='status-1' name='status' value='pending' checked>
          <label for='status-1' class='status-select__radio-label'>Pending</label>
          <input type='radio' class='status-select__radio' id='status-2' name='status' value='approved'>
          <label for='status-2' class='status-select__radio-label'>Approved</label>
          <input type='radio' class='status-select__radio' id='status-3' name='status' value='disapproved'>
          <label for='status-3' class='status-select__radio-label'>Disapproved</label>
        </div>
        <h2 class='status-select__no-puzzles-to-show'>There are currently no puzzles with that status.</h2>
      </div>
      <div class='graph-area'>
        <div class='graph-area__header'>
          <div class='graph-area__code-area'>
            <h2 class='title graph-area__header-title'>Graph:
              <span class='graph-area__code'>{{code}}</span>
            </h2>
          </div>

          <div class='graph-area__count-wrap'>
            <h2 class='graph-area__count-wrap-label'>Hotspots: <span class="graph-area__count-wrap-count">0</span></h2>
          </div>
        </div>
        <div class='graph-area__graph-canvas'></div>
        <div class='graph-area__control-buttons'>
          <div class='graph-area__control-buttons-approvals'>
            <button class='btn btn--admin' type='button' name='approve'>Approve</button>
            <button class='btn btn--admin' type='button' name='disapprove'>Disapprove</button>
          </div>
          <div class='graph-area__control-buttons-navigations'>
            <button class='btn btn--admin' type='button' name='previous'>Previous</button>
            <button class='btn btn--admin' type='button' name='next'>Next</button>
          </div>
          <button class='btn btn--delete-always-shown' type='button' name='delete-permanent'>Delete</button>
        </div>
      </div>
    <!-- </div> -->
  </div>

  <script type="text/javascript" src="/js/puzzleAdminView.js"></script>
  <script>
  window.onload = function() {
    var code = '{{code}}';
    EntryPoint.usePuzzle(code);
  }
  </script>
</body>

</html>
