<!doctype html>
<html>
<head>
  <title>Wireless Hotspot Challenge - Vertex Cover Problem</title>

  <!-- Documentation for VisJS: http://visjs.org/ -->

  <!-- required using npm instead
  <script type="text/javascript" src="/node_modules/vis/dist/vis.js"></script>
  -->
  <link href="/node_modules/vis/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class='main-container'>
  {{> mainHeader}}
  <div class='middle-container'>
    <div class='graph-area'>
      <div class='graph-area__header'>
        <h2 class='title graph-area__header-title'>Graph: <span class='graph-area__code'>{{code}}</span></h2>
        <div class='graph-area__count-wrap'>
          <h2 class='graph-area__count-wrap-label'>Hotspots: <span class="graph-area__count-wrap-count">0</span></h2>
        </div>
      </div>
      <div class='graph-area__graph-canvas'></div>
      <button class='btn btn--full-width' type="button" name="reset">Start Over</button>
      <div class='graph-area__options-wrap'>
        <a href='#'><h2 class='graph-area__options next-graph'>Try Another Graph</h2></a>
        <a href='#'><h2 class='graph-area__options create-own'>Create Your Own</h2></a>
      </div>
      <div class='message-box message-box--slide-in hide-below'>
        <h2 class='message-box__message'></h2>
        <a href='#'><h2 class='message-box__options next-graph'>Try Another Graph</h2></a>
        <h2 class='message-box__options'>or</h2>
        <a href='#'><h2 class='message-box__options create-own'>Create Your Own</h2></a>
      </div>
    </div>
    <div class='guide'>
      <div class='info-container challenge'>
        <h2 class='info-container__title'>The Challenge</h2>
        <div class='info-container__details'>
          <ul class='info-container__list'>
            <li>The nodes in the graph represent zones in need of WIFI.</li>
            <li>A hotspot can be placed at any node and will serve that node and all the nodes connected to it.</li>
          </ul>
          <h3 class='info-container__todo'>Add enough hotspots to provide service to all the zones. Determine the minimum number of hotspots needed.</h3>
        </div>
      </div>
      <div class='info-container instructions'>
        <h2 class='info-container__title'>Instructions</h2>
        <div class='info-container__details'>
          <ul class='info-container__list'>
            <li>Click a node to add a hotspot. Click it again to remove it.</li>
            <li>Once all the zones have WIFI, you will find out if your solution is optimal.</li>
          </ul>
        </div>
      </div>
      {{> key}}
    </div>
  </div>
</div>

<!--{{loadScriptWithPuzzleCode}} -->
<script type="text/javascript" src="/js/puzzle.js"></script>
<script>
window.onload = function() {
  var code = '{{code}}';
  if (code === '') {
    code = 'E2KB'
  }
  EntryPoint.usePuzzle(code);
}
</script>

<!-- <script src="../googleAnalytics.js"></script> -->
</body>
</html>
