<!doctype html>
<html>
<head>
  <title>Wireless Hotspot Challenge - Vertex Cover Problem</title>

  <!-- Documentation for VisJS: http://visjs.org/ -->

  <script type="text/javascript" src="/node_modules/vis/dist/vis.js"></script>
  <link href="/node_modules/vis/dist/vis-network.min.css" rel="stylesheet" type="text/css" />

  <link href="/css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class='main-wrap'>
  {{> mainHeader}}
  <div class='second-wrap'>
    <div class='graph-wrap'>
      <div class='graph-header'>
        <h2 class='title'>Graph: <span class='code'>{{code}}</span></h2>
        <div class='hotspot-count-wrap'>
          <h2 class='hotspot-count-label'>Hotspots: <span class="hotspot-count">0</span></h2>
        </div>
      </div>
      <div class='graph'></div>
      <button type="button" name="reset">Start Over</button>
      <div class='options-wrap'>
        <a href='#'><h2 class='options next-graph'>Try Another Graph</h2></a>
        <a href='#'><h2 class='options create-own'>Create Your Own</h2></a>
      </div>
      <div class='message-wrap slide-in hide-below'>
        <h2 class='optimal-message'></h2>
        <a href='#'><h2 class='message options next-graph'>Try Another Graph</h2></a>
        <h2 class='message options'>or</h2>
        <a href='#'><h2 class='message options create-own'>Create Your Own</h2></a>
      </div>
    </div>
    <div class='guide-wrap'>
      <div class='challenge-wrap'>
        <h2 class='title'>The Challenge</h2>
        <div class='challenge'>
          <ul class='challenge-details'>
            <li>The nodes in the graph represent zones in need of WIFI.</li>
            <li>A hotspot can be placed at any node and will serve that node and all the nodes connected to it.</li>
          </ul>
          <h3 class='to-do'>Add enough hotspots to provide service to all the zones. Determine the minimum number of hotspots needed.</h3>

        </div>
      </div>
      <div class='instruct-wrap'>
        <h2 class='title'>Instructions</h2>
        <div class='instruct'>
          <ul class='instruct-details'>
            <li>Click a node to add a hotspot. Click it again to remove it.</li>
            <li>Once all the zones have WIFI, you will find out if your solution is optimal.</li>
          </ul>
        </div>
      </div>
      <div class='key-wrap'>
        <h2 class='title'>Key</h2>
        <ul class='key'>
          <li><div class='circle no-service'></div><span>No Service</span></li>
          <li><div class='circle hotspot'></div><span>Hotspot</span></li>
          <li><div class='circle service'></div><span>Receiving Service</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--{{loadScriptWithPuzzleCode}} -->
<script type="text/javascript" src="/js/puzzle.js"></script>
<script>usePuzzle('{{code}}');</script>

<!-- <script src="../googleAnalytics.js"></script> -->
</body>
</html>
