$darkBorder: darkgray;
$lightBorder: lightgray;
$gradientStartColor: #D8D8D8;
$gradientEndColor: #EEEEEE;
$linkColor: #FF8C00;
$linkColorHover: #FF0000;
$darkShadowColor: #666;
$lightShadowColor: #DDD;
$smallShadowSize: 0.05rem;
