body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

ul, li {
  font-weight: 300;
}

a {
  text-shadow: $smallShadowSize $smallShadowSize $lightShadowColor;
}

a:link, a:visited {
  text-decoration: none;
  color: $linkColor;
}

a:hover {
  text-decoration: underline;
  color: $linkColor;
}

a:active {
  text-decoration: underline;
  color: $linkColor;
}

button:focus {
  outline: none;
}

.title {
  text-shadow: 0.05em 0.05em #DDD;
}

li {
  list-style-type: none;
}
