.btn {
  font-weight: 300;
  background-color: #EEE;
  border: 1px solid $lightBorder;

  &--delete {
    font-size: 1.4em;
    margin-right: 0.5em;
    height: 2.2em;
    padding: 0 1em;
    border: 1px solid red;
    display: none;
  }

  &--delete-always-shown {
    font-size: 0.9em;
    height: 2.2em;
    padding: 0 0.7em;
    border: 1px solid red;

    @mixin wide {
      font-size: 1.4em;
      padding: 0 1em;
    }

  }

  &--admin {
    font-size: 0.9em;
    height: 2.2em;
    padding: 0 0.7em;

    @mixin wide {
      font-size: 1.4em;
      padding: 0 1em;
    }
  }

  &--full-width {
    font-size: 1.7em;
    font-weight: 300;
    background-color: #EEE;
    border: 1px solid $lightBorder;
    height: 2.2em;
  }

  &--small {
    font-size: 2em;
    background-color: #FFF;
    flex: 0 0 1;
    border: none;
    padding: 0;
  }

  &__label {
    font-size: 0.8em;
    text-shadow: 0 0;
  }

  &__label-next {
    padding-right: 2px;
  }

  &__label-prev {
    padding-left: 2px;
  }

  &__image-next {
    text-shadow: -0.2rem 0.2rem orange;
  }

  &__image-prev {
    text-shadow: 0.2rem 0.2rem orange;
  }

  &:hover {
    background-color: #E8E8E8;
  }

  &:active {
    background-color: #E0E0E0;
  }
}
