.circle {
  border-radius: 50%;
  border: 1px solid $darkBorder;
  box-shadow: 3px 3px 3px $darkBorder;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  margin: 0;

  &--no-service {
    background: red;
  }

  &--hotspot {
    background: orange;
  }

  &--service {
    background: yellow;
  }
}
