.guide {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 20px 10px 10px;

  @mixin wide {
    flex: 2;
  }
}

.instructions-and-key {
  display: flex;
  flex-direction: row;

  @mixin wide {
    flex-direction: column;
  }
}
