.info-container {

  margin-left: 10px;
  margin-right: 10px;

  @mixin wide {
    margin-left: 0;
    margin-right: 0;
  }

  &.instructions {
    /*margin-top: 10px;*/
    margin-bottom: 10px;
  }

  &__nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__step-title {
    font-size: 2.4em;
    font-weight: normal;
    flex: 0 0 3;
    text-align: center;
    margin: 0;
    text-shadow: 0.05em 0.05em $lightShadowColor;
  }

  &__title {
    margin-top: 0.8em;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid $lightBorder;
    border-bottom: 1px solid $lightBorder;

    @mixin wide {
      margin-top: 0;
    }
  }

  &__list {
    padding: 0 10px;
  }

  &__sub-list {
    padding-right: 1rem;
  }

  &__sub-list > li {
    font-size: 1.0em;
    list-style-type: decimal;
    padding-bottom: 0.8rem;
  }

  &__sub-list-header {
    font-size: 1.1em;
    font-weight: 400;
    border-top: 1px solid $lightBorder;
    border-bottom: 1px solid $lightBorder;
    padding: 10px 0;
    text-align: center;
  }

  &__list > li {
    font-size: 1.0em;
    margin: 1.2em 0;
    list-style-type: none;
  }

  &__step-label {
    text-align: center;
    border-top: 1px solid $lightBorder;
    padding-top: 17px;
    font-weight: normal;
    text-shadow: 0.05em 0.05em $lightShadowColor;
    margin: 20px 0 15px 0;
  }

  &__todo {
    /*font-style: italic;*/
    background-image: linear-gradient(300deg, $gradientStartColor, $gradientEndColor);
    border: 1px solid $darkBorder;
    box-shadow: 0px 3px 3px $darkBorder;
    margin: 15px 0 30px 0;
    padding: 1rem;
    font-weight: normal;
    font-size: 1.1em;
  }

  &__todo-warning {
    color: red;
  }
}
