.key-container {
  display: flex;
  padding: 0 0 15px 20px;
  /*background-image: linear-gradient(300deg, #D8D8D8, #EEEEEE);*/
  border: 1px solid $darkBorder;

  &__title-container {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
  }

  &__list {
    margin-bottom: 0;
    padding-left: 20px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 1.1rem;
  }

  &__list-item > span {
    margin-left: 15px;
  }
}
