.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;

  &__header {
    display: flex;
    /*max-height: 80px;*/
    flex: 0 0 85px;
    align-items: center;
  }

  &__header__title {
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.6em;

    @mixin wide {
      font-size: 2em;
    }
  }

  &--not-found {
    max-width: 800px;
    flex: 1;
  }

  &__no-ie {
    display: none;
    margin: 0 2em;
  }

  &--admin-view {
    flex: 1;
    max-width: 800px;
  }
}
