.message-box {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  background: linear-gradient(300deg, rgba(225,225,225,0.93), rgba(238,238,238,0.93));
  /*margin: 2em;*/

  border: 1px solid darkgray;
  outline: 5px solid orange;

  text-shadow: 0.05em 0.05em #666;
  height: 15.625em;
  min-width: 100%;

  padding: 1.5em 0;
  top: 32em;

  @mixin wide {
    padding: 6.5em 0;
    top: 50em;
    min-width: 80%;
  }

  &__message {
    font-size: 2em;
    text-align: center;
    margin: 0.2em;
    background: transparent;

    @mixin wide {
      margin: 0.5em;
    }
  }

  &__message-secondary {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    margin: 0.4em;
    background: transparent;

    @mixin wide {
      margin-top: 0.5em;
      margin-bottom: 1.6em;
    }
  }

  &__message-secondary-puzzle-select {
    @mixin wide {
      margin-top: 0.9em;
      margin-bottom: 0.5em;
    }
  }

  &__code-and-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
  }

  &__options {
    background: transparent;
    text-align: center;
  }

  &__puzzle-size-selection {
    background: transparent;
    text-align: center;
  }

  &--slide-in {
    opacity:0;
    transition:all .5s;
  }

  &--hide-below.slide-in {
    transform:translateY(0%);
  }

  &--slide-in.active {
    opacity:1;
    transform:translateY(-143%);
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
  }

  &__input-label {
    font-size: 1.5em;
    font-weight: 300;
  }

  &__input {
    font-size: 3em;
    width: 3em;
    text-align: center;
    border-radius: 0.1em;
    border-style: solid;
    outline: none;
  }

  &__input-button {
    font-size: 1.6em;
    width: 3em;
    line-height: 0;
    padding: 0.8em 0;
    margin: 0.3em;
    font-size: 1.6em;
    font-weight: 300;
    background-color: #EEE;
    border: 1px solid $darkBorder;
  }

  &__link-in-text-area {
    width: 24em;
    font-size: 1.2em;
    text-align: center;
    resize: none;
    height: 1.3em;
  }

  &__code-element {
    position: relative;
    font-weight: 300;
    font-size: 3em;
    margin: 0;
    color: #666;
    top: -0.2em;
    background: transparent;
  }

  &__link-message {
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: 0.3em;
    background: transparent;
  }
}
