.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  background: linear-gradient(300deg, rgba(225,225,225,0.93), rgba(238,238,238,0.93));
  margin: 30px;
  padding: 100px 20px;
  border: 1px solid darkgray;
  outline: 5px solid orange;

  text-shadow: 0.05em 0.05em #666;
  height: 250px;
  min-width: 80%;

  &__message {
    font-size: 2em;
    text-align: center;
  }

  &__options {

  }

  &--slide-in {
    opacity:0;
    transition:all .5s;
  }

  &--hide-below.slide-in {
    transform:translateY(0%);
  }

  &--slide-in.active {
    opacity:1;
    transform:translateY(-143%);
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input-label {
    font-size: 1.5em;
  }

  &__input {
    font-size: 3em;
    width: 3em;
    text-align: center;
  }

  &__input-button {
    font-size: 1.6em;
    width: 3em;
    line-height: 0;
    padding: 0.8em 0;
    margin: 0.2em;
  }
}
