.middle-container {
  display: flex;
  flex: 1 1 auto;

  &--not-found {
    flex-direction: column;
    text-align: center;
    margin-top: 0.5em;
    padding: 2em;
    border: 1px solid $lightBorder;
  }
}
