.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;

  &__header {
    display: flex;
    /*max-height: 80px;*/
    flex: 0 0 85px;
    align-items: center;
  }

  &__header__title {
    margin-left: 20px;
  }
}
